<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.javaboy.vhr.mapper.DepositProMapper">



    <insert id="add" parameterType="org.javaboy.vhr.deposit.ProjectInfo" useGeneratedKeys="true" keyProperty="id">
        insert into project(`name`,`code`)values(#{name},#{code})
    </insert>

    <select id="list" parameterType="org.javaboy.vhr.deposit.ProjectInfo" resultType="org.javaboy.vhr.deposit.ProjectInfo">
        select * from project
        <where>
            <if test="key != null and key != ''">
                and (`name` like concat('%',#{key},'%') or `code` like concat('%',#{key},'%'))
            </if>
        </where>
    </select>

    <select id="count" resultType="long">
        select count(*) from project
        <where>
            <if test="key != null and key != ''">
                and (`name` like concat('%',#{key},'%') or `code` like concat('%',#{key},'%'))
            </if>
        </where>
    </select>

    <select id="listByName" resultType="org.javaboy.vhr.deposit.ProjectInfo">
        select * from project where `name` in
        <foreach collection="list" open="(" item="pro" separator="," close=")">
            #{pro}
        </foreach>
    </select>

</mapper>
