<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.javaboy.vhr.mapper.DepositBaseMapper">


    <select id="list" resultType="org.javaboy.vhr.deposit.Appointment">
        SELECT a.*,b.name AS 'project',b.code AS 'projectCode' ,c.`subject_name` AS 'subjectName'
        FROM appointment a
        LEFT JOIN project b ON a.project_id = b.id
        LEFT JOIN sub c ON a.sub_id = c.id
        LIMIT #{page},#{size}
    </select>

    <insert id="addAppointment" parameterType="org.javaboy.vhr.deposit.Appointment">
        insert into appointment(sub_id,proof,emp_date,reference,project_id,business_no,settlement_type,settlement,
        target_sub,sys_module,`describe`,debit_money,credit_money,direction,balance)
        values(#{subId},#{proof},#{empDate},#{reference},#{projectId},#{businessNo},#{settlementType},#{settlement},
        #{targetSub},#{sysModule},#{describe},#{debitMoney},#{creditMoney},#{direction},#{balance})
    </insert>


</mapper>
