<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.javaboy.vhr.mapper.DepositSubMapper">


    <insert id="add" parameterType="org.javaboy.vhr.deposit.SubjectInfo">
        insert into sub(subject_code,subject_name)values(#{subjectCode},#{subjectName})
    </insert>

    <select id="list" parameterType="org.javaboy.vhr.deposit.SubjectInfo"
            resultType="org.javaboy.vhr.deposit.SubjectInfo">
        select * from sub
        <where>
            <if test="subjectCode != null and subjectCode != ''">
                and subject_code = #{subjectCode}
            </if>
            <if test="subjectName != null and subjectName != ''">
                and subject_name = #{subjectName}
            </if>
            <if test="isActive != null">
                and is_active = #{isActive}
            </if>
            <if test="skey != null">
                and (subject_code like concat('%', #{skey},'%') or subject_name like concat('%', #{skey},'%'))
            </if>
        </where>
        limit #{page},#{size}
    </select>

    <select id="listCount" resultType="long">
        select count(*) from sub
        <where>
            <if test="subjectCode != null and subjectCode != ''">
                and subject_code = #{subjectCode}
            </if>
            <if test="subjectName != null and subjectName != ''">
                and subject_name = #{subjectName}
            </if>
            <if test="isActive != null">
                and is_active = #{isActive}
            </if>
            <if test="skey != null">
                and (subject_code like concat('%', #{skey},'%') or subject_name like concat('%', #{skey},'%'))
            </if>
        </where>
    </select>

    <select id="listByCodes" resultType="org.javaboy.vhr.deposit.SubjectInfo">
        select * from sub where subject_code in
        <foreach collection="subCodes" open="(" item="code" separator="," close=")">
            #{code}
        </foreach>
    </select>

</mapper>
